<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test thread-count="5" name="SubmitOrder">
		<classes>
			<class name="seleniumframework.SubmitOrderTest" >
			<methods>
			<include name="submitOrder"></include>
			<include name="OrderHistoryValidation"></include>
			</methods>
			
			</class>
			
		</classes>
</test>
</suite> <!--
Suite -->
